<div class="container">
	<div class="jumbotron starter-template">
		<h2>Your meal for today</h2>

		<h3 *ngIf="isWorking">Getting your food suggestions<br />Please wait...</h3>
		<h3 *ngIf="!randomFood && !isWorking">No food found :-(<br /><br /></h3>

		<randomMeal [fooditem]="randomFood[0]"></randomMeal>
		<randomMeal [fooditem]="randomFood[1]"></randomMeal>
		<randomMeal [fooditem]="randomFood[2]"></randomMeal>
		<br/>
		<button type="button" class="btn btn-primary" (click)="updateFood()">Get new Meal</button>
	</div>



	<div class="container">
		<div class="row">
			<div class="thumbnails">
				<div class="col-md-4" *ngFor="let foodItem of (allFood|async)">
					<div class="thumbnail">
						<img *ngIf="!foodItem?.imageString" src="http://placehold.it/320x200" alt="imagestring" (click)="takePicture($event, foodItem)">
						<img *ngIf="foodItem?.imageString" [src]="foodItem.imageString" alt="imagestring">
						<div class="caption">
							<h3>{{foodItem?.name}}</h3>
							<p>{{foodItem?.calories}} Calories</p>
							<p align="center">
								<a [routerLink]="['/food', foodItem.id]" class="btn btn-primary btn-block">
								<i class="fa fa-cutlery fa-fw"></i> 
								Details</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Site footer -->
	<footer class="footer">
		<p>
			<i class="fa fa-copyright" aria-hidden="true"></i> 2017 Offering Solutions
			<small *ngIf="platformInformationProvider.isElectron"> - CPU (%): {{percentage}}</small>
		</p>
	</footer>

</div>
<!-- /.container -->